[Desktop Entry]
Version=2.0.4
Encoding=UTF-8
Name=VidyoDesktop
Comment=Vidyo Endpoint Application
Categories=Application;Network;
Exec=VidyoDesktop
Terminal=false
Type=Application
Icon=vidyo_icon.png
GenericName[en_US]=VidyoDesktop
StartupWMClass=VidyoDesktop

